

.filter-section
{
  padding:2% 0 2% ;
  border-right: 1px solid;



}
label
{
  margin-top: 4%;
}
.filter{
  padding-left: 3%;
}
hr
{
border: 1px solid  ;

}
/* products */
.card
{
  margin-left: 1.5%;

}

.product-row
{
  margin-top:4%;
}
@media (max-width:700px){
.card{
  margin-left: 25%;
}
}

